{% extends 'base.html.twig' %}




    {% block body %}
        <form method="post">
            <input type="hidden" name="orderByAbroad" value="{{ orderByAbroad }}">
            <button type="submit" class="btn btn-secondary">Toggle orderByAbroad</button>
        </form>
        <br>
        <h1>Suppliers list sorted by abroad</h1>

        <table border="1">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Isimporter</th>
                <th>Parts</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for supplier in suppliers %}
                <tr>
                    <td><a href="{{ path('supplier_show', { 'id': supplier.id }) }}">{{ supplier.id }}</a></td>
                    <td>{{ supplier.name }}</td>
                    <td>{% if supplier.isImporter %}Yes{% else %}No{% endif %}</td>
                    <td>{{ supplier.parts|join (',,,') }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('supplier_show', { 'id': supplier.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('supplier_edit', { 'id': supplier.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <ul>
            <li>
                <a href="{{ path('supplier_new') }}">Create a new supplier</a>
            </li>
        </ul>
    {% endblock %}



